.outer {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.cliBox {
  border: 2px solid black;
  border-radius: 6px;
  width: 50%;
  
  padding: 2rem;
  font-family: 'Courier New', monospace;
  background-color: #fdfdfd;
}

.prompt {
  display: flex;
  align-items: center;
}

.input {
  flex-grow: 1;
  border: none;
  outline: none;
  background: transparent;
  font-family: inherit;
  font-size: 1rem;
  margin-left: 0.5rem;
}

.section {
  margin-top: 1rem;
}

.select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #aaa;
  border-radius: 4px;
}
.wrapselect {
  margin-top: 0%;
  display:flex;
  gap: 10%;

}

.toggleGroup {
  display: flex;
  gap: 0.5rem;
}

.toggleButton {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  font-family: inherit;
  cursor: pointer;
  background: white;
}
.toggleButton[data-state='on'] {
  background: #333;
  color: white;
}
.containResults {
  display: flex;
  justify-content: center;
}

.resultsContainer {
  margin-top: 1.5rem;
  width: 50%;
  padding: 0.75rem;
  border: 2px solid black;
  border-radius: 8px;
  max-height: 350px;
  overflow-y: auto;
  font-family: 'Courier New', monospace;
  color: black;

  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
}

.resultRow {
  padding: 0.4rem 0.6rem;
  background-color: white;
  cursor: pointer;
  transition: background-color 0.1s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px dashed lightgray;

  &:hover {
    border: 1px solid black;
  }
}

.resultName {
  text-transform: capitalize;
  letter-spacing: 0.5px;
}




